@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mainPageWrapper {
  width: 1300px;
  margin: 100px auto 0;
}
.mainPageWrapper a {
  text-decoration: none;
}
.mainPageTextWrapper {
  padding-right: 75px;
}
.mainPageRow {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 30px;
}
.text {
  /*font-family: 'Noto Serif', serif;*/
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}
.headerImg {
  /*font-family: 'Noto Serif', serif;*/
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
  color: #040404;
  margin-left: 70px;
  margin-bottom: 40px;
}
.mainPageImg {
  width: 500px;
  height: 250px;
  margin-left: 40px;
}
.donateBlock {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.textDonate {
  /*font-family: 'Noto Serif', serif;*/
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 20px;
}

.donateButton {
  width: 335px;
  height: 70px;
  background: #00db7a;
  border-radius: 50px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
}
.donateButtonWrapper {
  text-align: center;
}

.modal-header {
  border: none;
}

@media (max-width: 1500px) {
  .mainPageWrapper {
    width: 1320px;
  }
}
@media (max-width: 1400px) {
  .mainPageWrapper {
    width: 1100px;
  }
  .mainPageImg {
    margin-left: 40px;
  }
}
@media (max-width: 1200px) {
  .mainPageWrapper {
    width: 939px;
  }
  .mainPageRow {
    flex-direction: column;
    align-items: center;
  }
  .mainPageRow br {
    display: none;
  }
  .mainPageTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-bottom: 70px;
  }
  .mainPageImg {
    margin-left: 0;
  }
  .mainPageImgWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .headerImg {
    margin-left: 0;
    text-align: center;
  }
  .textDonate {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}

@media (max-width: 999px) {
  .mainPageWrapper {
    width: 698px;
  }
  .mainPageImg {
    width: 500px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .mainPageWrapper {
    width: 540px;
  }
  .donateButton {
    font-size: 30px;
  }
}
@media (max-width: 541px) {
  .mainPageWrapper {
    width: 339px;
  }
  .mainPageImg {
    width: 300px;
    height: 150px;
  }
  .mainPageImgWrapper {
    text-align: center;
  }
  .donateButton {
    font-size: 24px;
    line-height: 28px;
    height: 70px;
  }
}
