@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@400;700&display=swap');

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.closeBtn {
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 0;
  right: 70px;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.leafImgWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.leafImg {
  width: 400px;
}
.modalWrapper {
  z-index: 2;
  position: relative;
  width: 480px;
  margin: 0 auto;
  padding: 101px 30px 30px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}
.modalWrapper p {
  margin: 0;
  padding: 0;
}
.imgHeart {
  width: 100%;
  height: 100%;
}
.imgHeartWrapper {
  width: 60px;
  height: 50px;
  margin-bottom: 60px;
  position: relative;
  z-index: 3;
}
.text1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  z-index: 3;
}
.text2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 3;
  font-weight: normal;
}
.text3 {
  font-family: 'Roboto', sans-serif;
  color: #00db7a;
  position: relative;
  z-index: 3;
}
.modalFooterText {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
p.modalFooterText {
  margin-top: 20px;
}

.bottomBtn {
  width: 150px;
  height: 60px;
  background: #00db7a;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  display: inline-block;
  margin-left: auto;
}

@media (max-width: 767px) {
  .modalWrapper {
    width: 400px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    padding-top: 78px;
    padding-left: 70px;
  }
  .imgHeartWrapper {
    width: 50px;
    height: 40px;
    margin-bottom: 40px;
  }

  .bottomBtn {
    width: 120px;
    height: 40px;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 32px;
  }
  .closeBtn {
    right: 40px;
  }
  .leafImg {
    width: 300px;
  }
  .leafImgWrapper {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media (max-width: 510px) {
  .modalWrapper {
    width: 300px;
    padding-top: 85px;
    margin: 0 auto;
  }
  .imgHeartWrapper {
    width: 40px;
    height: 34px;
  }
  .bottomBtn {
    width: 90px;
    height: 30px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 20px;
  }
  p.modalFooterText {
    font-size: 20px;
    line-height: 26px;
  }
  .bottomBtn {
    display: none;
  }
  .closeBtn {
    right: -5px;
  }
}
