.navLink {
  color: white !important;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 !important;
  text-align: center;
  text-transform: uppercase;
}
.navbar {
  color: white;
  background-color: #00db7a;
  padding: 0.3rem;
}

.logo {
  width: 135px;
  height: 35px;
}

@media screen and (min-width: 62rem) {
  .navigationBar {
    width: 100%;
  }
  .navLink {
    color: white !important;
    font-size: 1rem;
    margin: 0 0.7rem;
    text-transform: uppercase;
  }
  .navLink.active {
    border-bottom: 2px solid white !important;
  }
  .navLink:hover {
    opacity: 0.9;
  }
  .brand-left {
    margin-left: 3rem;
  }
  .left-container {
    min-width: 26rem;
  }
}

@media screen and (max-width: 61.99rem) {
  .left-container {
    display: block !important;
  }

  .right-container {
    display: block !important;
  }

  .navLink.active {
    opacity: 0.7;
  }
}
