.linkWrapper {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0 !important;
  text-align: center;
  text-transform: uppercase;
}
.navbar {
  color: white;
  background-color: #00db7a;
  padding: 0.3rem;
}

.nav-right {
  margin-right: 8rem;
}

.logo {
  width: 135px;
  height: 35px;
}

/* TOGGLE */
.toggleNav {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 1rem;
}

.toggleIcon {
  width: 1.2rem;
  height: 1.2rem;
  box-shadow: none !important;
}

.toggleIcon .line {
  position: absolute;
  background: white;
  width: 2.1rem;
  height: 0.2rem;
  left: 0.1rem;
  bottom: 1.2rem;
  transition: transform 0.4s ease-out;
}

.toggleIcon .secondLine {
  bottom: 0.5rem;
}

.toggleIcon.activeIcon .line {
  bottom: 1rem;
  left: 0;
}

.toggleIcon.activeIcon .firstLine {
  transform: rotate(45deg);
}

.toggleIcon.activeIcon .secondLine {
  transform: rotate(-45deg);
}

@media screen and (min-width: 44rem) {
  .linkWrapper {
    color: white !important;
    font-size: 1rem;
    margin: 0 0.7rem;
    text-transform: uppercase;
  }
  .linkWrapper.active {
    border-bottom: 2px solid white !important;
  }
  .nav-left {
    margin-left: 5rem;
  }
}
