@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300;400;500&display=swap');

:root {
  --green: #00db7a;
}
.Overlay {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1001;
}

.MainContainer {
  position: fixed;
  right: -85%;
  top: 9%;
  width: 21rem;
  height: 36rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  z-index: -1;
  color: #252120;
  background: white;
  padding: 1rem;
  overflow-y: auto;
  cursor: auto;
  transition: right 0.35s ease-in-out;
  z-index: 1002;
  margin: -0.8rem auto;
}

.MainContainer.active {
  right: calc(30vw - 5rem);
}

.SpecificGarbageTypes {
  margin: 0 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Stars {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
}

.ModalTitle {
  font-size: 1rem !important;
  font-weight: bolder;
  margin-left: 0.3rem;
}

.StationTitl {
  padding-top: 1rem;
}

.location {
  font-size: 0.9rem;
  color: #00db7a;
  margin-bottom: 0.4rem;
}

.location > span,
.WorkingHoursTexts > span,
.ContactPhone > span,
.DeliveryOpt span,
.PaymentCondition span {
  font-size: 0.9rem;
  margin-left: 0.2rem;
  color: grey;
  font-weight: normal;
}

.WorkingHours,
.ContactPhone,
.DeliveryOpt,
.PaymentCondition {
  position: relative;
  margin-bottom: 1.5rem;
}

.WorkingHoursTexts > span {
  display: block;
}

.WorkingHours > i,
.ContactPhone > i,
.DeliveryOpt i,
.PaymentCondition i {
  font-size: 3rem;
  margin-left: 0.6rem;
}

.WorkingHoursTexts {
  position: absolute;
  left: 25%;
  top: 0%;
}

.ContactPhone > span,
.DeliveryOpt span,
.PaymentCondition span {
  position: absolute;
  left: 23%;
  top: 40%;
}
.DeliveryOpt span {
  left: 26%;
}
.PaymentCondition span {
  top: 25%;
  left: 27%;
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 44rem) {
  .MainContainer {
    position: absolute;
    top: 13%;
  }

  .MainContainer.active {
    right: 0.2%;
  }
}
