@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@300;400;500&display=swap');
.butt {
  background: #00db7a;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.4rem 0.5rem;
}

.butt:active {
  transform: scale(0.97);
}

.butt:focus {
  outline: none;
}

.butt:hover {
  background: rgba(0, 219, 122, 0.8);
}
