.Popup {
  min-width: 15rem;
  position: relative;
}

.EcoStationTitle {
  font-size: 0.95rem !important;
  padding-top: 1.8rem;
}

.StarsPopup {
  position: absolute;
  bottom: 73%;
  left: 55%;
}

.StarsPopup.count {
  left: 51%;
}

.RatingCountPopup {
  position: absolute;
  color: grey;
  left: 6.8rem;
  top: 7%;
}

.EcoStationAddress {
  font-size: 0.8rem !important;
  color: grey;
}
