:root {
  --green: #00db7a;
}
.MapContainer {
  position: relative;
  overflow-x: hidden;
}

.Map {
  height: 60vh;
  width: 100vw;
}

/* default (mobile-first) size */
.GarbageTypes {
  width: 85vw;
  height: 25rem;
  background: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
  color: #252120;
  overflow: auto;
}

.GarbageTypes .icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}

.GarbageTypes > h4 {
  margin-bottom: 1rem;
}

.IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5.5rem;
  margin: 0.5rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  border: 4px solid var(--green);
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover,
.active {
  background: var(--green);
}

.icon ~ span {
  font-size: 1.1rem;
}

/* on larger screen sizes */
@media screen and (min-width: 44rem) {
  .GarbageTypes {
    position: absolute;
    width: 26rem;
    height: 37rem;
    left: 2%;
    top: 13%;
    z-index: 1000;
    overflow-y: hidden;
  }
  .Map {
    height: 100vh;
  }
}

/* extra small */
@media screen and (max-width: 33rem) {
  .GarbageTypes {
    width: 100vw;
    height: 37rem;
    box-shadow: none;
  }
}
