@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbarWrapper {
  background-color: #00DB7A;
  width: 100%;
  margin: 0 auto;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pagesWrapper {
}

.navbarContainer {
  width: 1630px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.linkWrapper {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-right: 32px;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}
.linkWrapper:hover {
  color: white;
}

.active {
  border-bottom: 2px solid white;
}
/*.navLink {*/
/*  color: white;*/
/*  font-family: 'Roboto', sans-serif;*/
/*  font-style: normal;*/
/*  font-weight: bold;*/
/*  font-size: 24px;*/
/*  line-height: 28px;*/
/*  margin-right: 32px;*/
/*  position: relative;*/
/*}*/
/*.navLink.focus-within::after {*/
/*  position: absolute;*/
/*  display: block;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  content: '';*/
/*  width: 70px;*/
/*  height: 3px;*/
/*  color: white;*/
/*  border-bottom: 2px solid white;*/
/*}*/

.logo {
  width: 200px;
  height: 56px;
}
@media (max-width: 1400px) {
  .pagesWrapper {
  }
  .navbarContainer {
    width: 1270px;
  }
}
@media (max-width: 1200px) {
  .pagesWrapper {
  }
}

@media (max-width: 999px) {
  .navbarContainer {
    width: 768px;
  }
  .pagesWrapper {
  }
  .navLink {
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .navbarContainer {
    width: 451px;
  }
  .pagesWrapper {
    text-align: center;
  }
  .container {
    display: flex;
  }
  .logo {
    width: 150px;
    height: 45px;
  }
}

@media (max-width: 450px) {
  .navbarContainer {
    width: 375px;
  }
  .pagesWrapper {
  }
}



.navbarCollapse {
  justify-content: flex-end;
}