@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbarWrapper {
  background-color: #00db7a;
  width: 100%;
  margin: 0 auto;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1002;
}

.navbarContainer {
  width: 1630px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.linkWrapper {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
  position: relative;
  text-decoration: none;
  padding-bottom: 1px;
}
.linkWrapper:hover {
  color: white;
}

.active {
  border-bottom: 2px solid white;
}

.logo {
  width: 135px;
  height: 35px;
}

.navbarCollapse {
  justify-content: flex-end;
}

@media (max-width: 1400px) {
  .navbarContainer {
    width: 1270px;
  }
}
@media (max-width: 999px) {
  .navbarContainer {
    width: 768px;
  }
  .navLink {
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .navbarContainer {
    width: 451px;
  }
  .pagesWrapper {
    text-align: center;
  }
  .container {
    display: flex;
  }
  .logo {
    width: 150px;
    height: 45px;
  }
  .active {
    border: none;
    opacity: 0.8;
  }

  .linkWrapper {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .navbarContainer {
    width: 375px;
  }
}
