@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.wrapper {
    width: 700px;
    margin: 80px auto 0;
    padding-bottom: 120px;
}
.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    border-bottom: 1px solid #BEBEBE;
}
img.btnArrows {
    width: 15px;
    height: 20px;
    display: inline-block;
    margin-top: -6px;
}
.btnPrev {
    margin-right: 7px;
}
.btnNext {
    margin-left: 7px;
}
.btnText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #00DB7A;
    display: inline-block;
}
.icon {
    font-size: 65px;
    text-align: center;
    /*width: 50px;*/
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconText {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.mainContent {
    margin-top: 50px;
    text-align: justify;
}

.sliderWrapper img {
    width: 171px;
    height: 171px;
    object-fit: cover;
}

.sliderWrapper {
}

.react-images__view-image {
    width: 500px!important;
    height: 500px!important;
}

.bigLeafWrapper {
    position: relative;
    margin-bottom: 200px;
    text-align: center;
}
.bigLeaf {
    width: 470px;
    /*height: 300px;*/
}
.noAllText {
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.heartImg {
    position: absolute;
    top: 0;
    left: 330px;
    display: block;
    width: 35px;
    height: 30px;
}
@media (max-width: 999px) {

}

@media (max-width: 767px) {
    .wrapper {
        width: 500px;
        margin: 70px auto 0;
        padding-bottom: 80px;
    }
    img.btnArrows {
        width: 10px;
        height: 15px;
        margin-top: -4px;
    }
    .btnText {
        font-size: 14px;
        line-height: 18px;
    }
    .icon {
        font-size: 40px;
    }
    .iconText {
        margin-top: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .titleWrapper {
        padding-bottom: 10px;
    }
    .bigLeafWrapper {
        margin-bottom: 50px;
    }
    .bigLeaf {
        width: 300px;
    }
    .noAllText {
        font-size: 14px;
        line-height: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    .heartImg {
        left: 235px;
    }
    div.sliderWrapper {
        width: 500px;
        margin: 0 auto;
    }
    .sliderWrapper img {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
}
@media (max-width: 541px) {
    .wrapper {
        width: 339px;
    }
    .bigLeaf {
        width: 200px;
    }
    .heartImg {
        left: 160px;
    }
    .sliderWrapper img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    div.sliderWrapper {
        width: 339px;
        margin: 0 auto;
    }
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
}

