@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.wrapper {
    width: 700px;
    margin: 120px auto 0;
    padding-bottom: 120px;
}
.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    border-bottom: 1px solid #BEBEBE;
}
.btnArrows {
    width: 15px;
    height: 20px;
    display: inline-block;
    margin-top: -6px;
}
.btnPrev {
    margin-right: 7px;
}
.btnNext {
    margin-left: 7px;
}
.btnText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #00DB7A;
    display: inline-block;
}
.icon {
    font-size: 65px;
    text-align: center;
    /*width: 50px;*/
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconText {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.mainContent {
    margin-top: 50px;
    text-align: justify;
}

@media (max-width: 999px) {

}

@media (max-width: 767px) {
    .wrapper {
        width: 500px;
        margin: 70px auto 0;
        padding-bottom: 80px;
    }
    .btnArrows {
        width: 10px;
        height: 15px;
        margin-top: -4px;
    }
    .btnText {
        font-size: 14px;
        line-height: 18px;
    }
    .icon {
        font-size: 40px;
    }
    .iconText {
        margin-top: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .titleWrapper {
        padding-bottom: 10px;
    }
}
@media (max-width: 541px) {
    .wrapper {
        width: 339px;
    }
}


/**/
.Overlay {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

.Image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.Carousel {
  margin-top: 30rem !important;
  z-index: 20000;
  width: 40vw;
  margin: auto;
}

.BigImage {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.BigCarousel {
  z-index: 20000;
  width: 85vw;
  margin: auto;
}

