.ModalBody {
  max-height: 28rem;
}

.ButtonContainer {
  text-align: center;
}

.SendButton {
  background: transparent;
  border: 0;
  color: #00db7a;
  font-size: 1.7rem;
}

.SendButton:hover {
  transform: scale(1.2);
}

.SendButton:active {
  transform: scale(0.97);
}

.SendButton:focus {
  outline: none;
}

.SendButton.disabled {
  color: grey;
}

.CommentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormattedComment {
  width: 30rem;
  min-height: 6rem;
  background: #158f59;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 1rem;
  position: relative;
  padding-bottom: 2.5rem;
}

.TxtArea {
  width: 85%;
  margin: 0.3rem auto;
}

.CommentDate {
  position: absolute;
  bottom: 2%;
  right: 2%;
  margin-top: 3rem;
  display: block;
  font-style: italic;
  font-size: 0.95rem;
}

.NoCommentYet {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CommentSlash {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #00db7a;
}

.RateStation {
  margin-right: 0.5rem;
  position: absolute;
  top: 1%;
}

.BackBtn {
  position: absolute;
  top: 1%;
  left: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  color: #00db7a;
}

.CommentsFooter {
  height: 9rem;
  position: relative;
  transition: height 0.4s linear;
}

.SendComment {
  width: 100%;
  margin-top: 1rem;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
}

.CommentsFooter.activeFooter {
  height: 14rem;
}

.CommentsFormControl {
  height: 4rem !important;
  transition: height 0.4s linear;
}

.CommentsFormControl.activeFooter {
  height: 9rem !important;
}

@media screen and (max-width: 40rem) {
  .FormattedComment {
    width: 22rem;
  }
}
